.calendar
{
    border: 2px solid #ffa908;
    height: 156px;
    width: 172px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.week{
    width: 172px;
    background-color: #FFFF00;
}
caption{
    background-color: #ffd300;
}
.day{
    background-color: lawngreen;

}
.busy_day {
    background-color: darkred;

}

.calendarMassive
{
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    padding-bottom: 3px;
    color: #ffa908;
}